.main-page div{
    position: relative;
}
.horizontal-container {
    height: 100%;
    width: 100%;
    max-width: 717px;

    max-height: 100px;
    display: flex;

}
.container-horizontal{
    width: 10%;
    min-width:630px;
    margin: auto;
    margin-bottom: 15px;

}

body {

    background-color: #15202B;
}

.img-container {
    width: auto;
    margin-right: 10px;
    max-width: 100px;
    transform: translateY(-3px);
}
.twitter-follow-button{
    background-color:#1D9BF0;
    color: white;
    border-radius: 75px;
    font-size: 80px;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: block;
    border: 2px solid rgb(248, 248, 248);

}

.follow-button-div{
    margin: auto;
    width: 100%;
    max-height: 112px;
    max-width: 440px;

}
.twitter-link-img{
    width: 75px;
    line-height: 20px;
}
.twit-img {
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
    border: solid;
    border-color: aliceblue;
}

.prof-img {
    width: 40%;
    max-width: 465px;
    min-width: 350px;
    object-fit: contain;
    display: block;
    border-radius: 50%;
    border: solid;
    border-color: aliceblue;
    margin: auto;
}

.carousel {
    overflow: hidden;
    position: relative;
    max-width: 100px;
    width: 70%;
}

.slides {
    width: 100%;
    height: 100px;
    position: relative;
    transition: transform 0.5s;
    margin-left: auto;
    margin-right: auto;
    scroll-behavior: smooth;
}

.num-slide {
    height: 94px;
    width: 90%;
    min-width: 25px;
    text-align: center;
    font-size: 100px;
    border-radius: 10px;
    border: solid;
    border-color: aliceblue;
    background: #bbbaba;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    line-height: 100px;
}

.changed {
    background-color: aquamarine;
}

@media screen and (max-width: 686px) {
      .carousel{
        max-height: 100px;
      }

}
@media screen and (max-width: 685.99px)and (min-width: 572px) {
    .carousel{
      max-height: 96px;
    }

}
@media screen and (max-width: 571.99px)and (min-width: 490px) {
    .carousel{
      max-height: 96px;
    }

}
@media screen and (max-width: 489.99px)and (min-width: 429px) {
    .carousel{
      max-height: 95.5px;
    }

}
@media screen and (max-width: 428.99px)and (min-width: 343px) {
    .prof-img{
        min-width: 300px;
    }
    .carousel{
      max-height: 95.2px;
      min-width: 40px;
    }   
    .container-horizontal{
        min-width:350px;
    }
    .twitter-follow-button{
        font-size: 55px;
    }
    .twitter-link-img{
        width: 50px;
    }
    .img-container {
        margin-right: 5px;
        width: 500px;
    }
    .num-slide{
        font-size: 75px;
    }
}
@media screen and (max-width: 342.99px)and (min-width: 286px) {
    .carousel{
      max-height: 95.2px;
    }

}
@media screen and (max-width: 285.99px)and (min-width: 214px) {
    .carousel{
      max-height: 95.2px;
    }

}@media screen and (max-width: 213.99px){
    .carousel{
      max-height: 95.2px;
    }



}






